{% load static %}
<!DOCTYPE html>

<html lang="zxx">
  <head>
    <!-- ** Basic Page Needs ** -->
    <meta charset="utf-8" />
    <title>Compus</title>

    <!-- ** Mobile Specific Metas ** -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Dotco Agency Template" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/themify/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/magnific-popup/magnific-popup.css' %}"
    />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'plugins/slick/slick-theme.css' %}"
    />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!--Favicon-->
    <link
      rel="icon"
      href="{% static 'images/favicon.png' %}"
      type="image/x-icon"
    />
  </head>

  <body>
    <!-- Header Start -->
    <div class="header-top">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-2 col-md-4">
            <div
              class="header-top-socials text-center text-lg-left text-md-left"
            >
              <a
                href="https://www.facebook.com/themefisher"
                aria-label="facebook"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com/themefisher" aria-label="twitter"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://github.com/themefisher/" aria-label="github"
                ><i class="fab fa-github"></i
              ></a>
            </div>
          </div>
          <div
            class="col-lg-10 col-md-8 text-center text-lg-right text-md-right"
          >
            <div class="header-top-info mb-2 mb-md-0">
              <a href="tel:+23-345-67890"
                >Call Us : <span>+23-345-67890</span></a
              >
              <a href="mailto:support@gmail.com"
                ><i class="fas fa-envelope mr-2"></i
                ><span>support@gmail.com</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="navigation">
      <div id="navbar">
        <div class="sticky">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <nav id="my-navbar" class="navbar navbar-expand-lg px-0 pt-0">
                  <a class="navbar-brand" href="/">
                    <img
                      class="logo-main"
                      src="{% static 'images/logo-trans.png' %}"
                    />
                  </a>

                  <button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarsExample09"
                    aria-controls="navbarsExample09"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="fa fa-bars icon-bar"></span>
                  </button>

                  <div
                    class="collapse navbar-collapse text-left"
                    id="navbarsExample09"
                  >
                    <ul class="navbar-nav ml-auto pt-3">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                      </li>
                      <li class="nav-item dropdown @@about">
                        <a
                          class="nav-link dropdown-toggle"
                          href="{% url 'service' %}"
                          >Service
                          <i class="fas fa-chevron-down small drop-icon"></i
                        ></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                          {% for x in services %}
                          <li class="dropdown dropdown-submenu dropright">
                            <a
                              class="dropdown-item dropdown-toggle"
                              href="{% url 'service-detail' x.id %}"
                              >{{x.name}}</a
                            >
                            <ul
                              class="dropdown-menu"
                              aria-labelledby="dropdown0301"
                            >
                              {% for y in x.subs.all %}
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="{% url 'service-sub-detail' y.id %}"
                                  >{{y.name}}</a
                                >
                              </li>
                              {% endfor %}
                            </ul>
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      <li class="nav-item @@contact">
                        <a class="nav-link" href="{% url 'contact' %}"
                          >Contact</a
                        >
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Close -->

    {% block content %} {% endblock content %}
    <div class="float-whatsapp-button">
      <a href="">
        <img src="{% static 'images/whatsapp.png' %}" alt="" />
      </a>
    </div>
    <footer class="footer section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Company</h4>

              <ul class="list-unstyled footer-menu lh-35">
                <li><a href="about.html">Terms & Conditions</a></li>
                <li><a href="about.html">Privacy Policy</a></li>
                <li><a href="cobtact.html">Support</a></li>
                <li><a href="cobtact.html">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Quick Links</h4>

              <ul class="list-unstyled footer-menu lh-35">
                <li><a href="about.html">About</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
            <div class="widget">
              <h4 class="text-capitalize mb-4">Subscribe Us</h4>
              <p>Subscribe to get latest Notifications</p>

              <form action="{% url 'add-email' %}" class="sub-form">
                <input
                  type="text"
                  name="email"
                  class="form-control mb-3"
                  placeholder="Subscribe Now ..."
                />
                <button type="submit" class="btn btn-main btn-small">
                  subscribe
                </button>
              </form>
              <script>
                const subForm = document.querySelector(".sub-form");
                subForm.addEventListener("submit", (e) => {
                  e.preventDefault();
                  if (!subForm.email.value) {
                    alert("Please enter your email");
                    return;
                  }
                  const formData = new FormData(subForm);
                  fetch(subForm.action, {
                    method: "POST",
                    body: formData,
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",
                    },
                  }).then((response) => {
                    if (response.status == 200) {
                      subForm.reset();
                      console.log(response);
                      Swal.fire({
                        title: "Subscribed!",
                        text: "Thank you for subscribing! You will receive all news and updates.",
                        icon: "success",
                      });
                    } else {
                      Swal.fire({
                        title: "Ooops..!",
                        text: "You already subscribed!",
                        icon: "info",
                      });
                    }
                  });
                });
              </script>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="widget">
              <div class="logo mb-4">
                <h3>Comp<span>us</span></h3>
              </div>
              <h6>
                <a href="mailto:support@gmail.com">Support@compus.com</a>
              </h6>
              <a href="tel:+23-345-67890"
                ><span class="text-color h4">+23-456-6588</span></a
              >
            </div>
          </div>
        </div>

        <div class="footer-btm pt-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="copyright">
                Copyright &copy; 2023, Designed &amp; Developed by
                <a href="https://themefisher.com/">Dotco</a>
              </div>
            </div>
            <div class="col-lg-6 text-left text-lg-right">
              <ul class="list-inline footer-socials">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/themefisher"
                    ><i class="fab fa-facebook-f mr-2"></i>Facebook</a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/themefisher"
                    ><i class="fab fa-twitter mr-2"></i>Twitter</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--Scroll to top-->
    <div id="scroll-to-top" class="scroll-to-top">
      <span class="icon fa fa-angle-up"></span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Main jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!--  Magnific Popup-->
    <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'plugins/counterup/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}"></script>

    <!-- Google Map -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"
      defer
    ></script>
    <script src="{% static 'plugins/google-map/map.js' %}" defer></script>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
